<?php if($messages = $this->filter->get($this->name)->getMessages()): ?>
    <ul style="color:darkred; font-size: 12px;">
        <?php foreach($messages as $message): ?>
            <li><?= $message ?></li>
        <?php endforeach;?>
    </ul>
<?php endif;?>