<h1 class="head">Archive</h1>
<div class="archive">
    <p>
        <b> From: </b>
        <input type="text" ng-model="dateFrom" jqdatepicker />
        <b>
            To:
            <input type="text" ng-model="dateTo" jqdatepicker />
        </b>
    </p>
    <span class="btn btn-primary" ng-click="showByDate(dateFrom, dateTo)">Show</span>

    <h3>Orders from {{ dateFrom }} to {{ dateTo }}</h3>

    <p class="alert" ng-show="archive.length <= 0">Empty...</p>

    <table class="table table-bordered table-archive table-hover" ng-show="archive">
        <thead>
        <td>Дата</td>
        </thead>
        <tr ng-repeat="dates in archive" dates>
            <td>{{ dates | amDateFormat:'dd D MMM (DD-MM-YYYY)' }}</td>
        </tr>
    </table>
</div>