<h1 class="head">Calendar</h1>
<ul class="calendar">
    <div class="row">
        <li class="day" ng-repeat="day in days" dates>
            <div class="head">
                <p class="dayName">{{ day.date | amDateFormat:'dd'}}</p>
                <p class="dayNum">{{ day.date | amDateFormat:'D'}}</p>
                <p class="dayMth">{{ day.date | amDateFormat:'MMM'}}</p>
            </div>
            <div class="separator"></div>
            <div class="body dis" ng-if="day.status == 0" ng-click="addOrder(day.date)">
                <p class="status">
                    <i class="icon-remove"></i>
                </p>
            </div>
            <div class="body past"  ng-if="day.status == 2" ng-click="pastDateAlert()">
                <p class="status">
                    <i class="icon-ok"></i>
                </p>
            </div>
            <div class="body ordered"  ng-if="day.status == 1" ng-click="removeOrder(day.date)">
                <p class="status">
                    <i class="icon-ok"></i>
                </p>
            </div>
            <div class="body past"  ng-if="day.status == 3" ng-click="pastDateAlert()">
                <p class="status">
                    <i class="icon-remove"></i>
                </p>
            </div>
        </li>
    </div>
</ul>