<h1 class="head">All users</h1>
<div class="archive">
    <table class="table table-bordered table-hover table-archive" ng-if="allUsers.count!=0">
        <thead>
        <td>Login</td>
        <td>Name</td>
        <td>Info</td>
        <td>Action</td>
        </thead>
        <tbody>
        <tr ng-repeat="user in allUsers">
            <td>{{ user.login }}</td>
            <td>{{ user.name }}</td>
            <td>
                <p><b>Role:</b>{{ user.role }}</p>
                <p><b>Status:</b>{{ user.status }}</p>
                <p><b>Part:</b>{{ user.prt }}</p>
            </td>
            <td>
                <a class="btn btn-primary" href="#/users/edit/{{ user.id }}" >Edit</a>
                <span class="btn btn-danger" ng-click="deleteUser(user.id)">Delete</span>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="alert" ng-if="allUsers.count==0">Nothing here yet...</p>
</div>