<h1 class="head">Архив</h1>
<div class="archive">
    <p>
        <b> From: </b>
        <input type="text" ng-model="dateFrom" jqdatepicker />
        <b> To: </b>
        <input type="text" ng-model="dateTo" jqdatepicker />
    </p>
    <span class="btn btn-primary" ng-click="showByDate(dateFrom, dateTo)">Show</span>

    <h3>Orders from {{ dateFrom }} to {{ dateTo }}</h3>

    <p class="alert" ng-show="persons.length <= 0">Empty...</p>

    <table class="table table-bordered table-hover table-archive" ng-show="persons">
        <thead>
            <td>Date</td>
            <td>Count</td>
        </thead>
        <tr ng-repeat="person in persons">
            <td>{{ person.date | amDateFormat:'dd D MMM (DD-MM-YYYY)'}}</td>
            <td>{{ person.count }}</td>
        </tr>
    </table>
</div>