<div class="archive">
    <p ng-if="saved" class="alert-info">Saved! <a href="#/all-users">Return to all users</a></p>
    <br>
    <table class="table table-bordered table-hover table-archive">
        <tr>
            <th>Login</th>
            <td>{{ person.login }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ person.name }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td><p><select ng-model="person.role" ng-options="role for role in roles"></select></p></td>
        </tr>
        <tr>
            <th>Part</th>
            <td><p><input type="text" ng-model="person.prt"></p></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><p><select ng-model="person.status" ng-options="status for status in statuses"></select></p></td>
        </tr>
    </table>
    <p><span class="btn btn-info" ng-click="save(person)">Save!</span></p>
</div>