<h1 class="head">Calendar</h1>
<ul class="calendar">
    <div class="row">
        <li class="day" ng-repeat="day in days" dates>
            <div class="head">
                <p class="dayName">{{ day.date | amDateFormat:'dd'}}</p>
                <p class="dayNum">{{ day.date | amDateFormat:'D'}}</p>
                <p class="dayMth">{{ day.date | amDateFormat:'MMM'}}</p>
            </div>
            <div class="separator"></div>
            <div class="body dis" ng-click="viewPeople(day.date)" ng-if="day.count==0">
                <p>{{ day.count }}</p>
            </div>
            <div class="body ordered" ng-click="viewPeople(day.date)" ng-if="day.count!=0">
                <p>{{ day.count }}</p>
            </div>
        </li>
    </div>
</ul>

<div class="cnt">
    <br />
    <span class="btn btn-warning" ng-click="prev()">&#8592;</span>
    <span class="btn btn-warning" ng-click="next()">&#8594;</span>

    <div class="show-people" ng-show="lastDate">
        <h3>{{ lastDate | amDateFormat:'dddd D MMM (DD-MM-YYYY)' }}</h3>
        <button href='#' class="btn btn-success addPerson" ng-click="addPerson()">Add person</button>

        <p><select ng-model="per" ng-show="confirmed" ng-options="person.name for person in persons"></select></p>
        <p ng-show="per">
            <b>Add {{ per.name }} on {{ lastDate | amDateFormat:'dd D MMM (DD-MM-YYYY)'}}?</b>
            <span class="btn btn-primary" ng-click="addingPerson(per, lastDate)">Да</span>
            <span class="btn btn-danger" ng-click="per = nil; confirmed = nil;">Нет</span>
        </p>
        <!--<p>-->
            <!--<div class="btn-group ps-element" ng-repeat="person in people.data">-->
                <!--<span class="btn btn-primary" >{{ person.name }}</span>-->
                <!--<span class="btn btn-danger" ng-click="deleteOrder(person.id, lastDate)">&times;</span>-->
            <!--</div>-->
        <!--</p>-->

        <p>
            <div ng-repeat="part in people.data">
                <h4>Part: {{part[0].part}}(count: {{ part.length }})</h4>
                <div class="btn-group ps-element" ng-repeat="person in part">
                    <span class="btn btn-primary" >{{ person.name }}</span>
                    <span class="btn btn-danger" ng-click="deleteOrder(person.id, lastDate)">&times;</span>
                </div>
            </div>
        </p>

    </div>
</div>