<h1 class="head">New users</h1>
<div class="archive">
    <table class="table table-bordered table-hover table-archive" ng-show="newUsers">
        <thead>
            <td>Login</td>
            <td>Name</td>
            <td>Actions</td>
        </thead>
        <tbody>
            <tr ng-repeat="user in newUsers">
                <td>{{ user.login }}</td>
                <td>{{ user.name }}</td>
                <td>
                    <span class="btn btn-small btn-danger" ng-click="deleteUser(user.id)"><i class="icon-remove"></i> Delete</span>
                    <span class="btn btn-small btn-primary" ng-click="confirmUser(user.id)"><i class="icon-ok"></i> Confirm</span>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="alert" ng-show="!newUsers">Nothing here yet...</p>
</div>