<div class="log-center">
    <h1 class="head">Login</h1>
    <p class="alert"><?php echo $message; ?></p>

    <form action="/login" method="post" class="loginForm">

        <label for="login">Login</label>
        <input type="text" name="login" id="login">
        <?= $this->partial('partial/filter_errors.phtml', array(
            'filter' => $this->filter,
            'name'   => 'login'
        )) ?>

        <label for="passwd">Password</label>
        <input type="password" name="passwd" id="passwd">
        <?= $this->partial('partial/filter_errors.phtml', array(
            'filter' => $this->filter,
            'name'   => 'passwd'
        )) ?>

        <input type="submit" name="submit" value="Пуск!" class="btn btn-primary">
    </form>
</div>