<div class="cnt whited">
    <h1 class="head">Sign up!</h1>
    <form action="" method="post">
        <label for="login">Login</label>
        <input type="text" name="login" id="login" />
        <?= $this->partial('partial/filter_errors.phtml', array(
            'filter' => $this->filter,
            'name'   => 'login'
        )) ?>

        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <?= $this->partial('partial/filter_errors.phtml', array(
            'filter' => $this->filter,
            'name'   => 'name'
        )) ?>

        <label for="password">Password</label>
        <input type="password" name="passwd" id="password" />
        <?= $this->partial('partial/filter_errors.phtml', array(
            'filter' => $this->filter,
            'name'   => 'passwd'
        )) ?>

        <p>
            <input type="submit" value="Go!" class="btn btn-primary"/>
        </p>
    </form>
</div>