<?php echo $this->doctype(); ?>

<html lang="en" ng-app="User">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('BOOKING | User'); ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/packages/bootstrap/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/packages/jquery-ui/jquery-ui.css') ?>

    <link rel="stylesheet/less" type="text/css" href="/styles/style.less" />
    <link rel="stylesheet/less" type="text/css" href="/styles/user.less" />
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>-->
<!--    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>-->

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/packages/bootstrap/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/packages/angular/angular-route.js')
        ->prependFile($this->basePath() . '/app/Front/controllers.js')
        ->prependFile($this->basePath() . '/app/Front/directives.js')
        ->prependFile($this->basePath() . '/app/Front/services.js')
        ->prependFile($this->basePath() . '/app/Front/app.js')
        ->prependFile($this->basePath() . '/packages/jquery-ui/jquery-ui.js')
        ->prependFile($this->basePath() . '/packages/angular/angular-moment.js')
        ->prependFile($this->basePath() . '/packages/angular/angular.js')
        ->prependFile($this->basePath() . '/packages/jquery/jquery.min.js')
        ->prependFile($this->basePath() . '/packages/moment/moment.min.js')
        ->prependFile($this->basePath() . '/packages/less/less.min.js')
//        ->prependFile($this->basePath() . '/packages/angular/angular.js')
//            ->prependFile($this->basePath() . '/packages/less/less.min.js')
        ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
    ; ?>

</head>
<body>
<div class="container">
    <div class="header">
        <ul class="menu">
            <li><a href="#/">Booking</a></li>
            <li><a href="#/archive">Archive</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
    <div class="wrap">
        <?php echo $this->content; ?>
    </div>
    <div class="clear"></div>
</div>

<div class="footer">
    <p><a href="/">Booking</a></p>
</div>
<?php echo $this->inlineScript() ?>
</body>
</html>
