<?php
function linking($date)
{
    $segments = explode('-',$date);
    $uri = "/orders/show/special/";
    $uri .= $segments[0].'/';
    $uri .= $segments[1].'/';
    $uri .= $segments[2].'/';
    $uri = trim($uri);
    return $uri;
}
?>
<h1 class="head">Архивные записи</h1>
<table class="table table-bordered">
    <thead>
        <td>Дата</td>
        <td>Кол-во людей</td>
    </thead>
    <tbody>
        <?php foreach($data as $date => $count):?>
            <tr>
                <td>
                    <a href="<?php echo linking($date)?>">
                        <?php echo $date; ?>
                    </a>
                </td>
                <td>
                    <?php echo $count; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>