<h1>Заявки на <?php echo $date; ?></h1>
<p>Всего заявок - <?php echo count($orders)?></p>
<table class="table table-bordered table-hover">
    <?php foreach($orders as $order): ?>
        <tr>
            <td>
                <?php echo date_format($order->getDate(), 'Y-m-d'); ?>
            </td>
            <td><?php echo $order->getUser()->getName(); ?></td>
        </tr>
    <?php endforeach;?>
</table>