<?php
function linking($date)
{
    $segments = explode('-',$date);
    $uri = "/orders/show/special/";
    $uri .= $segments[0].'/';
    $uri .= $segments[1].'/';
    $uri .= $segments[2].'/';
    $uri = trim($uri);
    return $uri;
}
?>

<h2>Сегодня - <?php echo $days_of_week[date('N')]; ?></h2>
<table class="table table-bordered">
    <tr>
        <?php
            $day = new DateTime();
            for($i = date('N'); $i<=7; $i++):
        ?>
                <td>
                    <?php if(isset($data[date_format($day, 'Y-m-d')])):?>
                        <b>
                            <a href="<?php echo linking(date_format($day, 'Y-m-d'))?>">
                                <?php echo date_format($day, 'Y-m-d'); ?>
                            </a>
                        </b>
                        <br/>
                        <?php echo $data[date_format($day, 'Y-m-d')]; ?>
                    <?php else:?>
                        <b><?php echo date_format($day, 'Y-m-d');?></b>
                        <br/>
                        <?php echo "0";?>
                    <?php endif; ?>
                </td>
        <?php
            $day->modify('+1 day');
            endfor;
        ?>
    </tr>
</table>