<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ХАВАТЬ'); ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/packages/bootstrap/css/bootstrap.min.css') ?>

        <link rel="stylesheet/less" type="text/css" href="/styles/style.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/packages/bootstrap/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/packages/jquery/jquery.min.js')
//            ->prependFile($this->basePath() . '/packages/less/less.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
    </head>
    <body>
        <div class="container">
            <div class="wrap">
                <?php echo $this->content; ?>
            </div>
            <div class="clear"></div>
        </div>

        <div class="footer">
            <p><a href="/">ХАВАТЬ</a></p>
        </div>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
