/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body{
  height: 100%;
}
body{
  background: #f0f0f0;
}
.container{
  min-height: 100%;
  box-shadow: none;
  border: none;
  background: #f1f1f1;
  width: 100%;

  .wrap{
    margin: 20px;
  }
  h1.head{
    text-align: center;
  }
  .clear{
    height:20px;
    clear: both;
  }
}
p.alert{
  text-align: center;
}
.loginForm{
  text-align: center;
  #login, #passwd{
    margin: 5px auto;
    width: 200px;
  }
  label{
    font-weight: bold;
  }
  input[type="text"], input[type="password"]{
    display: block;
  }
  ul{
    list-style-type: none;
  }
}
.footer{
  display:block;
  background: #e6e6e6;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  margin-top: -20px;
  p{
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
}
.table-centered{
  td{
    text-align: center;
    vertical-align: center;
  }
}
.ps-element{
  margin-right: 5px;
  margin-top: 5px;
}.addPerson{
  margin: 5px 0;
 }
thead{
  td{
    font-weight: bold;
  }
}
h1.head{
  margin: 0 0 10px 0;
  color: #222;
}
.header{
  width: 100%;
  margin: 0 auto;
  height: 70px;
  background: #fff;
  border-bottom: 1px #d1dbe4 solid;
  ul{
    height: 40px;
    padding: 15px 0;
    width: 500px;
    display: table;
    li{
      width: 150px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.cnt{
  width:1000px;
  margin: 0 auto;
  &.whited{
    padding: 10px;
    background: #fff;
  }
}
.calendar{
  display: table;
  width: 1000px;
  margin:0 auto;
  border-collapse: collapse;
  .row{
    display: table-row;
    li.day{
      border: 1px solid #fff;
      border-top: 0;
      border-bottom: 0;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .separator{
        background: #fff;
        height: 1px;
      }
      .head{
        background-image: linear-gradient(to bottom, #f5f9fc, #d1dbe4);
        height: 64px;
        border: solid 1px #b4c2cd;
        border-color: rgba(180, 194, 205, 0.75);
        color: #4E6479;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);
        .dayName{

        }
        .dayNum{
          font-weight: bold;
          font-size: 20px;
        }
        .dayMth{
          text-transform: uppercase;
        }
      }
      .body{
        border-bottom: 1px #fff solid;
        cursor: pointer;
        vertical-align: middle;
        background: #91c43f;
        &.past{
          background: #DFF4CA;
        }
        &.dis{
          background: #d3d3d3;
        }
        p{
          padding: 25px 15px;
          font-size: 12px;
          color: #333;
        }
        &:hover{
          background: #9cd862;
        }
      }
    }
    li.day:last-child{
      border-right: 0;
      .head{
        border-radius: 0 7px 0 0;
      }
      .body{
        border-radius: 0 0 7px 0;
        border-right: 1px #fff solid;
      }
    }
    li.day:first-child{
      border-left: 0;
      .head{
        border-radius: 7px 0 0 0;
      }
      .body{
        border-left: 1px #fff solid;
        border-radius: 0 0 0 7px;
      }
    }
  }
}
.archive{
  width: 960px;
  margin: 0 auto;
  table.table-archive{
    background: #fff;
    td{
      text-align: center;
    }
  }
}
.log-center{
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  border: 1px #d3d3d3 solid;
  width: 600px;
  box-shadow: 0 0 10px #d3d3d3;
  height: 270px;
  margin: -135px 0 0 -300px;
  padding: 5px;
  border-radius: 20px;
}