body{
  background: #fff;
}
h1.head{
  margin: 0 0 10px 0;
  color: #222;
}
.header{
  width: 100%;
  margin: 0 auto;
  height: 70px;
  background: #fff;
  border-bottom: 1px #d1dbe4 solid;
  ul{
    height: 40px;
    padding: 15px 0;
    width: 500px;
    display: table;
    li{
      width: 150px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.footer{
  width: 100%;
}
.container{
  box-shadow: none;
  border: none;
  background: #f1f1f1;
  width: 100%;
}
.calendar{
  display: table;
  width: 1000px;
  margin:0 auto;
  border-collapse: collapse;
  .row{
    display: table-row;
    li.day{
      border: 1px solid #fff;
      border-top: 0;
      border-bottom: 0;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .separator{
        background: #fff;
        height: 1px;
      }
      .head{
        background-image: linear-gradient(to bottom, #f5f9fc, #d1dbe4);
        height: 64px;
        border: solid 1px #b4c2cd;
        border-color: rgba(180, 194, 205, 0.75);
        color: #4E6479;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);
        .dayName{

        }
        .dayNum{
          font-weight: bold;
          font-size: 20px;
        }
        .dayMth{
          text-transform: uppercase;
        }
      }
      .body{
        border-bottom: 1px #fff solid;
        cursor: pointer;
        vertical-align: middle;
        background: #91c43f;
        &.past{
          background: #DFF4CA;
        }
        &.dis{
          background: #d3d3d3;
        }
        p.status{
          padding: 25px 15px;
          font-size: 12px;
          color: #333;
        }
        &:hover{
          background: #9cd862;
        }
      }
    }
    li.day:last-child{
      border-right: 0;
      .head{
        border-radius: 0 7px 0 0;
      }
      .body{
        border-radius: 0 0 7px 0;
        border-right: 1px #fff solid;
      }
    }
    li.day:first-child{
      border-left: 0;
      .head{
        border-radius: 7px 0 0 0;
      }
      .body{
        border-left: 1px #fff solid;
        border-radius: 0 0 0 7px;
      }
    }
  }
}
.archive{
  width: 960px;
  margin: 0 auto;
  table.table-archive{
    background: #fff;
    td{
      text-align: center;
    }
  }
}